<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'amadon.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amadon</title>
</head>
<body>
    <div id="wrapper">
        <h3>Thank you for your business!</h3>
        <p>We have just charged your credit card for ${{bill}}.</p>
        <p>You have ordered {{orders}} item(s) from Amadon.com and have spent a total of ${{total}}! Wow</p>
        <p><a href="/">Go Back</a></p>
    </div>
</body>
</html>